<div class="row ">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-custom-color custom-navbar">
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/home"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             aria-current="true">
            <img src="..\..\assets\images\logo-removebg-preview.png" width="163" alt="logo">
          </a>
        </li>
        <br>
        <li class="nav-item">
          <a routerLink="/home"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{exact: true}"
             class="nav-link"
             aria-current="true">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/cases" routerLinkActive="active" class="nav-link">
            Case Files
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/people" routerLinkActive="active" class="nav-link">
            People
          </a>
        </li>
      </ul>
    </div>
  </div>
