<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex align-items-center mb-3">
                <h4 class="me-3 custom-title">People List</h4>
                <button class="btn btn-success ms-auto" (click)="openPeopleModal()"> <i class="fas fa-plus"></i> Add New Person</button>
            </div>
            <div> 
                <ul class="list-group w-100"> 
                    <ng-container *ngFor="let person of persons">
                        <ng-container *ngIf="person.givenName && person.lastName">
                            <li class="list-group-item list-group-item-action" 
                                (click)="showDetails(person.id)" 
                                [class.active]="person.id === selectedPerson?.id"
                                (click)="handleClick(person)"
                                [class.clicked]="person === clickedItem"
                                >
                                <div class="d-flex justify-content-between align-items-center">
                                    <span>{{ person.givenName }} {{ person.lastName }}</span>
                                </div>
                            </li>
                        </ng-container>
                    </ng-container>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <!-- <app-person-details [person]="selectedPerson"></app-person-details> -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
